rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Função para verificar se é o CEO (Acesso Total)
    function isCEO() {
      return request.auth != null && request.auth.uid == "o0FzqC1oYoYYwjgJXbbgL4QoCe42";
    }

    // Função para verificar se é funcionário autenticado
    function isStaff() {
      return request.auth != null;
    }

    // Regra Global: CEO pode TUDO em qualquer lugar
    match /{document=**} {
      allow read, write: if isCEO();
    }

    match /users/{userId} {
      allow read: if isStaff();
      allow write: if isCEO() || request.auth.uid == userId;
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if isStaff();
    }

    match /customers/{customerId} {
      allow read, write: if isStaff();
    }

    match /transactions/{transactionId} {
      allow read, write: if isStaff();
    }

    match /open_orders/{orderId} {
      allow read, write: if isStaff();
    }
    
    match /purchases/{purchaseId} {
      allow read, write: if isStaff();
    }
  }
}